.InputSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid blue; */
  height: 30%;
  width: 100%;
  font-size: clamp(11px, 2vw, 20px);
}

.GridSize {
  display: flex;
  width: 100%;
  justify-content: center;
}

.SetTime {
  display: flex;
  justify-content: space-evenly;
}

.subHeading {
  font-size: clamp(10px, 1.5vw, 20px);
  flex-wrap: wrap;
  margin: 13px 0px 0px 0px;
  text-align: center;
}

.minSecGridInput {
  font-size: clamp(11px, 2vw, 20px);
  background-color: transparent;
  border-radius: 0.5px;
  width: 1.4rem;
  margin-left: 5px;
  border: none;
  color: inherit;
  text-align: center;
}

.minSecGridInput[type="number"]::-webkit-outer-spin-button,
.minSecGridInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.minSecGridInput:hover {
  box-shadow: 0px 0.8px 0.1px 0px var(--primary-30);
}
.minSecGridInput:focus-visible {
  box-shadow: 0px 0.8px 0.1px 0px var(--primary-30);
  outline: 0px;
}

.InputSectionWrapper > button {
  color: inherit;
  background-color: transparent;
  /* border: 0.1px solid var(--secondary-20); */
  border: none;
  box-shadow: 0px 0px 0.5px 0.5px var(--secondary-20);
  margin: 5px;
  margin-top: 0px;
  width: clamp(50px, 12vw, 180px);
  align-self: center;
  padding: 6px;
  border-radius: 16px;
  transition: all 0.3s;
  cursor: pointer;
}

.InputSectionWrapper > button:hover {
  background-color: var(--secondary-20);
}

@media screen and (max-width: 550px) {
  .SetTime {
    /* margin-left: -25px; */
  }

  .minSecGridInput {
    width: 12px;
    margin: 0px;
  }

  .InputSectionWrapper {
    height: 90%;
    justify-content: center;
  }

  .subHeading {
    margin: 4px;
  }

  .SetTime > span {
    display: flex;
    flex-wrap: wrap;
  }
}
