.CardsGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border: none;
  /* box-shadow: 0px 0px 14px 0.5px var(--secondary-20); */
  /* background-color: var(--secondary-20); */
  flex: 0.95;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  /* border: 1px solid white; */
  background-color: var(--primary-30);
  border: none;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  /* animation:  0.9s ease-in-out; */
}
.flipped {
  /* animation: all 0.9s ease-in-out; */
  background-color: transparent;
  box-shadow: 0px 0px 2px 0.5px var(--primary-30);
}
.macthed {
  background-color: var(--secondary-20);
  opacity: 0.6;
}
