/* Outter Layer for nameing Container */
.outterLayer {
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 33%;
  min-width: 300px;
  max-width: 450px;
  /* border: 1px solid white; */
}

@media screen and (max-width: 550px) {
  .outterLayer {
    width: 100%;
    margin: 0px 20px;
    min-width: none;
    max-width: none;
  }
}
