.editorSlip {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-30);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  /* border-radius: 29px 4px 4px 29px; */
}

.nameInput {
  font-family: monospace;
  background-color: transparent;
  color: var(--text-color);
  border: 0px;
  flex: 1;
  border-radius: 2px;
  font-size: 1.1rem;
  margin: 0px;
  margin-right: 4px;
  width: 50px;
  padding: 0px 6px 3px 6px;
  /* box-shadow: inset 0px -1.5px var(--primary-30); */
  box-shadow: 0px 2px 0px -0.6px var(--primary-30);
}

.nameInput:focus-visible {
  outline: none;
}

/* editedName is class for span tag in which our name shows when edit button is disabled */

.editedName {
  font-family: monospace;
  flex: 1;
  border-radius: 4px;
  font-size: 1.1rem;
  margin-right: 4.4px;
  padding: 3px 6px;
  user-select: none;
}

/* wrapper for tools */

.tools {
  display: flex;
  flex: 0.8;
  /* height: 100%; */
}

/* edit btn for edit name */
.editButton {
  height: 100%;
  background-color: transparent;
  margin: 0px 3px;
  flex: 1;
  border: 1px solid var(--secondary-20);
  border-radius: 4px;
  padding: 6px 10px;
  user-select: none;
  cursor: pointer;
}

.editButton:hover {
  box-shadow: 0px 0px 4px 0.5px var(--secondary-20);
}

/* emoji face for player acc to her name */
/* .emojiFace {
  height: 39px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.emojiFace > img,
.emojiFace > span {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Gender */
.genderBtn {
  flex: 1;
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 5px;
  margin: 0px 3px;
  border: 1px solid var(--secondary-20);
  color: var(--text-color);
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.genderBtn.Active {
  background-color: var(--secondary-20);
  border: 1px solid var(--secondary-20);
  color: var(--input-color);
}
.genderBtn:hover {
  background-color: var(--secondary-20);
  border: 1px solid var(--secondary-20);
  color: var(--input-color);
  box-shadow: 0px 0px 8px 0.5px var(--secondary-20);
}

@media screen and (max-width: 550px) {
  .emojiFace {
    height: 30px; /* background-color: aqua; */
  }
  .editButton {
    padding: 4px 6px;
  }
}
