[data-theme="Light"] {
  --font-weight: 600;
  --primary-30: #444125;
  --secondary-20: #8d6e3b;
}

[data-theme="Dark"] {
  --font-weight: 500;
  --primary-30: #8a8a60;
  --secondary-20: #d0a15d;
}

/* Home container rapper */
.HomeContainer {
  /* height: 50%; */
  /* width: 33%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--primary-30);
}

/* Title rapper for name "Brain Buster" */
.Title {
  font-family: "Londrina Outline", sans-serif;
  font-weight: var(--font-weight);
  font-style: normal;
  flex: 1;
  margin: 8px 8px 6px 8px;
  font-size: 4.5rem;
  text-align: center;
}

/* No of Player selection container rapper for multi player */
.MultiPlayerSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* media querry for mobile view */
