[data-theme="Light"] {
  --font-weight: 600;
  --Primary-color: rgb(239, 234, 183);
  --Secondary-color: rgb(255 244 123);
  --shadow-color: rgb(132, 129, 89);
}

[data-theme="Dark"] {
  --font-weight: 500;
  --Primary-color: rgb(243 237 176);
  --Secondary-color: rgb(255 244 123);
  --shadow-color: rgb(243 237 176);
}

/* Home container rapper */
.HomeContainer {
  /* height: 50%; */
  /* width: 33%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--shadow-color);
}

/* Title rapper for name "Brain Buster" */
.Title {
  font-family: "Londrina Outline", sans-serif;
  font-weight: var(--font-weight);
  font-style: normal;
  flex: 1;
  margin: 8px 8px 6px 8px;
  font-size: 4.5rem;
  text-align: center;
}

/* No of Player selection container rapper for multi player */
.MultiPlayerSec {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 6px 8px 6px 8px;
}
.MultiPlayerSec > span {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* Buttons for select number players */
.NoOfPlayers,
.NoOfPlayersactive {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
  display: flex;
  border: 1px solid rgb(126, 125, 125);
  color: var(--text-color);
  background-color: transparent;
  flex: 1;
  margin: 0.8rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}

.NoOfPlayers:hover,
.NoOfPlayersactive {
  position: relative;
  box-shadow: 0px 0px 5px var(--text-color);
  bottom: -1px;
}

/* Next Button */
.NextButton,
.NextButtonactive {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  flex: 0.5;
  margin: 6px 8px 8px 8px;
  border-radius: 6px;
  background-color: var(--Primary-color);
}

.NextButtonactive:hover {
  position: relative;
  transition: all 0.5s;
  background-color: var(--Secondary-color);
  bottom: -1px;
}
