[data-theme="Light"] {
  --border-color: #3d3d3d;
  --input-color: #414141;
  --boxshadow-color: #696748;
  --text-color: #444125;
}

[data-theme="Dark"] {
  --border-color: #dedede;
  --input-color: #414141;
  --boxshadow-color: #9a9773;
  --text-color: #bebb9a;
}

/* Wrapper for nameing inputs container */
.nameingContainer {
  /* border: 1px solid white; */
  display: inline-block;
  flex: 1;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Player info form container */
.playerInfo {
  display: flex;
  border: 1px solid var(--border-color);
  padding: 10px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
}

/* get name from input of a player */
.nameInput {
  font-family: monospace;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 0px;
  flex: 1;
  border-radius: 4px;
  font-size: 1.1rem;
  margin-right: 4px;
  padding: 3px 6px;
  box-shadow: inset 0px -1.5px var(--boxshadow-color);
}

.nameInput:focus-visible {
  outline: none;
}

/* editedName is class for span tag in which our name shows when edit button is disabled */

.editedName {
  font-family: monospace;
  flex: 1;
  border-radius: 4px;
  font-size: 1.1rem;
  margin-right: 4.4px;
  padding: 3px 0px;
  user-select: none;
}

/* edit btn for edit name */
.editButton {
  background-color: transparent;
  margin: 0px 3px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 0px 10px;
  user-select: none;
  cursor: pointer;
}

/* .editButton: */

/* emoji face for player acc to her name */
.emojiFace {
  height: 30px;
  width: 30px;
  margin: 0px 5px;
}

.emojiFace > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gender */
.genderBtn {
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 10px;
  margin: 0px 3px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
}

.genderBtn.Active {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--input-color);
}

.genderBtn:hover {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--input-color);
}

/* let go button for play the game */
.LetGoBtn {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 2px 125px;
  border: 1px solid white;
  user-select: none;
}

.LetGoBtn > span {
  font-weight: 900;
  margin-left: 45px;
}
