.noOfPlayers {
  font-family: "Atma", system-ui;
  font-weight: 500;
  border: 1px solid rgb(126, 125, 125);
  margin: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  transition: all 0.2s linear;
  /* background-color: transparent; */
}

.noOfPlayers:hover {
  box-shadow: 0px 0px 5px var(--text-color);
  transform: scale(1.07);
}

.active {
  box-shadow: 0px 0px 5px var(--text-color);
  transform: scale(1.07);
}

.playerNumInput {
  font-family: "Atma", system-ui;
  font-weight: 600;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin-left: 4px;
  color: var(--text-color);
  border-bottom: 0.01px solid white;
  width: 15px;
  text-align: center;
  /* transition: all 0.2s linear; */
}
.playerNumInput[type="number"]::-webkit-outer-spin-button,
.playerNumInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.playerNumInput:focus-visible {
  outline: 1px;
}

@media screen and (max-width: 430px) {
  .noOfPlayers {
    margin: 0.4rem;
    font-size: 1.2rem;
    padding: 5px;
    width: 80%;
  }
}
