.container {
  display: flex;
  flex-direction: column;
  /* border: 1.5px solid var(--primary-30); */
  border-radius: 9px;
  width: 20%;
  /* width: fit-content; */
  /* min-width: 100px; */
  height: fit-content;
  min-height: 350px;
  padding: 20px;
}

.ranker {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* flex: 1; */
  max-height: 528px;
}

.playerCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 0.1px solid var(--secondary-20); */
  margin: 2px 3px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px var(--secondary-20);
  padding: 8px;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  animation: all 0.4s ease-in-out;
}

.playerCard:hover {
  box-shadow: 0px 0px 8px var(--secondary-20);
}

.playerImage {
  display: inline-block;
  height: 38px;
  /* height: 50%; */
  width: 38px;
  user-select: none;
  position: relative;
  box-shadow: 0px 0px 5px var(--primary-30);
  /* border: 0.1px solid var(--primary-30); */
  border-radius: 100%;
}

.num1::after {
  position: absolute;
  content: "🥇";
  font-size: 21px;
  top: 17.6px;
  left: 5.5px;
}
.num2::after {
  position: absolute;
  content: "🥈";
  font-size: 21px;
  top: 16.5px;
  left: 3.5px;
}
.num3::after {
  position: absolute;
  content: "🥉";
  font-size: 21px;
  top: 16.6px;
  left: 3.5px;
}
/* .num4::after {
  position: absolute;
  content: "♕";
  color: #d0a15d;
  font-weight: 500;
  font-size: 23px;
  top: -15.4px;
  left: 8px;
} */

.playerCard > span > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrollbar */
}

/* Styling the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: var(--primary-30); /* Light gray background for the track */
  border-radius: 10px;
}

/* Styling the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-20); /* Darker gray for the thumb */
  border-radius: 10px;
  cursor: pointer;
  /* Optional: makes the thumb appear thinner */
}

/* Styling the thumb on hover (to make it more visible when hovered) */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-20); /*Darker color when hovered*/
}
