/* [data-theme="Light"] {
  --font-weight: 600;
  --primary-30: #444125;
  --secondary-20: #8d6e3b;
}

[data-theme="Dark"] {
  --font-weight: 500;
  --primary-30: #8a8a60;
  --secondary-20: #d0a15d;
} */

/* Home container rapper */
.HomeContainer {
  /* height: 50%; */
  /* width: 33%; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--primary-30);
}

/* Title rapper for name "Brain Buster" */
.Title {
  font-family: "Londrina Outline", sans-serif;
  font-weight: var(--font-weight);
  font-style: normal;
  flex: 1;
  margin: 8px 8px 6px 8px;
  font-size: 4.5rem;
  text-align: center;
}

.subTitle {
  margin: 3px 0px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2em;
}

/* No of Player selection container rapper for multi player */
.MultiPlayerSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* media querry for mobile view */

@media screen and (max-width: 550px) {
  .Title {
    font-size: 3rem;
  }
  .MultiPlayerSec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
