.InputSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid blue; */
  height: 30%;
  width: 100%;
  font-size: calc(1vw + 0.4rem);
}

.GridSize {
  width: 100%;
}

.SetTime {
  display: flex;
  justify-content: space-between;
}

.minSecGridInput {
  background-color: transparent;
  border-radius: 0.5px;
  font-size: calc(1vw + 0.1rem);
  width: 1.4rem;
  margin-left: 10px;
  border: none;
  color: inherit;
}

.minSecGridInput[type="number"]::-webkit-outer-spin-button,
.minSecGridInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.minSecGridInput:hover {
  box-shadow: 0px 0.8px 0.1px 0px var(--primary-30);
}
.minSecGridInput:focus-visible {
  box-shadow: 0px 0.8px 0.1px 0px var(--primary-30);
  outline: 0px;
}

.InputSectionWrapper > button {
  color: inherit;
  background-color: transparent;
  border: 0px;
  margin: 5px;
  margin-top: 0px;
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
}

.InputSectionWrapper > button:hover {
  background-color: var(--secondary-20);
}
