.CardsEleWrapper {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.CardsEleWrapper > span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.CardsEleWrapper > span > button {
  height: clamp(18px, 45%, 40px);
  font-size: clamp(11px, 2.5vw, 16px);
  aspect-ratio: 2/1;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--secondary-20);
  color: var(--text-color);
}

.CardsEleWrapper > span > button:hover {
  box-shadow: 0px 0px 0px 1.5px var(--text-color);
}

.currentType {
  box-shadow: 0px 0px 0px 1.5px var(--text-color);
}

@media screen and (max-width: 550px) {
  .CardsEleWrapper {
    height: 90%;
  }

  .CardsEleWrapper > span {
    flex-direction: column;
  }

  .CardsEleWrapper > button {
  }
}
