.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  position: relative;
}

.themesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 9px 4px 7px;
  /* border: 1px solid white; */
}
