/* [data-theme="light"] {
  --bg-color: white;
  --text-color: black;
}

[data-theme="Dark"] {
  --bg-color: white;
  --text-color: black;
  } */
:root {
  --bg-color: #1f1e1e;
  --text-color: #e8e8e8;
}
body {
  color: antiquewhite;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
